@font-face {
	font-family: 'Clother';
	src: url('./fonts/Clother.eot');
	src: url('./fonts/Clother.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/Clother.woff2') format('woff2'),
	     url('./fonts/Clother.woff') format('woff'),
	     url('./fonts/Clother.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--bg: #ffffff;
	--mc: #cccccc;
	--c: #000000;
	--x: 18px;
}

*,
*::before,
*::after {
	font-family: 'Clother', sans-serif;
	font-size: var(--x);
	color: var(--c);
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
}

html,
body {
	background: var(--bg);
}

a,
p,
h3 {
	line-height: calc(var(--x) * 1.618);
}

body::before,
body::after,
section::before,
section,
header,
footer,
main {
	position: fixed;
}

body::before,
body::after,
section::before {
	content: '';
	background: inherit;
	z-index: 888;
	top: 0;
}

body::before,
body::after {
	width: var(--x);
	bottom: 0;
}

body::after {
	right: 0;
}

header,
footer {
	padding-left: var(--x);
}

section {
	padding: 0 var(--x);
}

header {
	z-index: 555;
}

footer {
	z-index: 777;
}

header,
footer,
h2 {
	height: calc(var(--x)*4);
	line-height: calc(var(--x)*4);
	background: inherit;
}

footer *:not(:last-child) {
	margin-right: calc(var(--x)/2);
}

body::before,
section::before,
header,
footer,
section,
main {
	left: 0;
	right: 0;
}

header,
span,
main,
section {
	top: 0;
}

section,
footer {
	bottom: 0;
}

article {
	max-width: calc(var(--x)*21);
}

article h3,
article p:not(:last-child) {
	margin-bottom: calc(var(--x)/1.618);
}

mark {
	background: transparent;
	border-bottom: 1px solid var(--mc);
}

main {
	padding: calc(var(--x)*4) 0 calc(var(--x)*4) var(--x);
	height: 100vh;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-size: 0;
}

main::-webkit-scrollbar {
	display: none;
}

section::before {
	height: var(--x);
}

section {
	min-height: auto;
	background: inherit;
	z-index: 666;
	overflow-y: auto;
	-webkit-transition: opacity 400ms cubic-bezier(.23,0,.23,1), -webkit-transform 400ms cubic-bezier(.23,0,.23,1);
	transition: opacity 400ms cubic-bezier(.23,0,.23,1), -webkit-transform 400ms cubic-bezier(.23,0,.23,1);
	transition: opacity 400ms cubic-bezier(.23,0,.23,1), transform 400ms cubic-bezier(.23,0,.23,1);
	transition: opacity 400ms cubic-bezier(.23,0,.23,1), transform 400ms cubic-bezier(.23,0,.23,1), -webkit-transform 400ms cubic-bezier(.23,0,.23,1);
	-webkit-transform: translate3d(0, var(--x), 0);
	transform: translate3d(0, var(--x), 0);
	padding-bottom: calc(var(--x)*4);
	pointer-events: none;
	opacity: 0;
}

figure {
	position: relative;
	display: inline-block;
	margin-right: var(--x);
	background: var(--c);
	height: 100%;
}

img {
	display: block;
	height: inherit;
}

img.loaded {
	animation: show 400ms cubic-bezier(.23,0,.23,1);
	-webkit-animation: show 400ms cubic-bezier(.23,0,.23,1);
	-moz-animation: show 400ms cubic-bezier(.23,0,.23,1);
	-o-animation: show 400ms cubic-bezier(.23,0,.23,1);
}

figure:hover figcaption {
	opacity: 1;
	pointer-events: initial;
}

figcaption {
	position: absolute;
	left: var(--x);
	bottom: var(--x);
	pointer-events: none;
	opacity: 0;
}

figcaption a {
	display: block;
	color: var(--bg);
	line-height: calc(var(--x) * 1.618);
}

button {
	background: transparent;
	cursor: pointer;
}

body[rates] section {
	opacity: 1;
	pointer-events: all;
	-webkit-transform: initial;
	transform: initial
}

a,
img,
button,
figcaption {
	transition: opacity 400ms cubic-bezier(.23,0,.23,1);
	-webkit-transition: opacity 400ms cubic-bezier(.23,0,.23,1);
}

a:hover,
button:hover {
	opacity: .5;
}

@keyframes show {
	from { opacity: 0 }
	to { opacity: 1 }
}

@media (max-width: 768px) {
	:root {
		--x: 16px;
	}

	body::before,
	body::after {
		display: none;
	}

	main {
		width: 100%;
		padding: calc(var(--x)*4) var(--x) calc(var(--x)*4) var(--x);
		white-space: normal;
		overflow-x: auto;
		overflow-y: auto;
	}

	figure {
		display: block;
		margin-right: 0;
		height: auto;
		width: 100%;
	}

	figure:not(:last-child) {
		margin-bottom: var(--x);
	}

	img {
		width: 100%;
	}
}