@font-face {
	font-family: 'Clother';
	src: url('./fonts/Clother.eot');
	src: url('./fonts/Clother.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/Clother.woff2') format('woff2'),
	     url('./fonts/Clother.woff') format('woff'),
	     url('./fonts/Clother.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--x: 18px;
	--c: #000000;
	--bg: #ffffff;
	--mc: #cccccc;
	--cubic: cubic-bezier(0.23, 0, 0.23, 1);
}

html {
	background: var(--bg);
	font-size: var(--x);
	font-family: 'Clother', 'Corbel', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	background: inherit;
	border: none;
	color: var(--c);
	font-family: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a,
p,
h3 {
	line-height: 1.618;
}

body::before,
body::after,
section::before,
section,
header,
footer,
main {
	position: fixed;
}

body::before,
body::after,
section::before {
	content: '';
	z-index: 888;
	top: 0;
}

footer {
	z-index: 777;
}

header {
	z-index: 555;
}

body::before,
body::after {
	width: 1rem;
	bottom: 0;
}

body::after {
	right: 0;
}

header,
footer {
	padding-left: 1rem;
}

section {
	padding: 0 1rem;
}

header,
footer,
h2 {
	height: 4rem;
	line-height: 4rem;
}

footer *:not(:last-child) {
	margin-right: .5rem;
}

body::before,
section::before,
header,
footer,
section,
main {
	left: 0;
	right: 0;
}

header,
span,
main,
section {
	top: 0;
}

section,
footer {
	bottom: 0;
}

article {
	max-width: 21rem;
}

article p:not(:last-child) {
	margin-bottom: .618rem;
}

mark {
	border-bottom: 1px solid var(--mc);
}

main {
	padding: 4rem 0 4rem 1rem;
	height: 100vh;
	white-space: nowrap;
	scroll-behavior: smooth;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	letter-spacing: -.23em;
}

main::-webkit-scrollbar {
	display: none;
}

section::before {
	height: 1rem;
}

section {
	min-height: auto;
	z-index: 666;
	overflow-y: auto;
	transition: opacity 400ms var(--cubic), transform 400ms var(--cubic);
	-webkit-transform: translate3d(0, 1rem, 0);
	transform: translate3d(0, 1rem, 0);
	padding-bottom: 4rem;
	pointer-events: none;
	opacity: 0;
}

body[rates] section {
	opacity: 1;
	pointer-events: all;
	transform: initial;
}

figure {
	position: relative;
	display: inline-block;
	background: var(--c);
	margin-right: 1rem;
	height: 100%;
}

img {
	display: block;
	height: inherit;
	pointer-events: none;
}

img.loaded {
	animation: show 400ms var(--cubic);
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

figure:hover figcaption {
	opacity: 1;
	pointer-events: initial;
}

figcaption {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	pointer-events: none;
	background: transparent;
	letter-spacing: normal;
	opacity: 0;
}

figcaption a {
	display: block;
	color: var(--bg);
}

button {
	cursor: pointer;
}

a,
img,
button,
figcaption {
	transition: opacity 400ms var(--cubic);
}

a:hover,
button:hover {
	opacity: 0.5;
}

@media (max-width: 768px) {
	:root {
		--x: 16px;
	}

	body::before,
	body::after {
		display: none;
	}

	main {
		width: 100%;
		padding: 4rem 1rem;
		white-space: normal;
		letter-spacing: normal;
		overflow-x: auto;
		overflow-y: auto;
	}

	figure {
		display: block;
		margin-right: 0;
		height: auto;
	}

	figure:not(:last-child) {
		margin-bottom: var(--x);
	}

	img {
		width: 100%;
	}
}